
// // Fonts
// @import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// // Variables
// @import "variables";

// // Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
body{color:black;font-size:12px;font-family: "raleway", "Helvetica", "Arial", sans-serif;}
body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-family: "raleway", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 2em;
}
.navbar-default .navbar-brand {
   
    margin-top: 10px;
    transition: all .5s;
}
img.raised{
    height: 50px;
    width: 50px;
}
.sm-form{
	float:right;
}
.img-rounded {
    border-radius: 6px;
    box-shadow: 1px 2px 2px 2px #16322b;
}
.form-control, .form-group .form-control {
    border: 0;
      background-image: linear-gradient(#9c27b0, #9c27b0), linear-gradient(#4CAF50, #4caf50);
}
    
    #navbar {
    background-color: #4CAF50;

  
}
.user-section {
    margin-top: 20px;
    font-size: 22px;
    background-color: rgb(76, 175, 80);
}
#side-menu {
    background-color: #4caf50;
}
#wrapper {
    width: 100%;
    margin-top: 80px!important;
    background-color: #4CAF50;
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid transparent;
}
.welcome_wrap{
    width:100%;
    background: url(/images/bg2.jpeg);
    background-size: 100% 100%;
   }
.welcome_text {
    overflow: hidden;
    text-align: center;
    padding: 120px 0px 60px 0px;
    color: #fff;
    text-transform: capitalize;
    /* background-position: center; */
    margin-bottom: 0px;
    margin-top: 0px;
    min-height: 300px;
}

.post_wrap{}
.post_heading {
    margin: 20px 0px 10px;
}
.post_heading h1 {
    text-transform: capitalize;
    font-size: 20px;
}
.post_heading p{text-transform: capitalize;}
.post_heading p span{text-transform: capitalize;}
.post_heading p span i {
    /* display: block; */
    padding: 3px;
    margin-left: 3px;
    /* margin-right: 3px; */
}
.post_body{display: block;}
.post_body img{display: block;}
.post_body p {
    display: block;
    font-size: 14px;
    padding: 10px 0px;
    margin-top: 5px;
}
.body_wrap {
      padding: 60px 0px 60px 0px;
    background: #1d3a4c;
    color: #fff;
}
.sinle_comment_wrap {
    overflow: hidden;
    padding: 20px 0px;
    margin-bottom: 10px;
    border-bottom: 1px dashed #fd7a60;
}
.post_wrap {
    margin-bottom: 40px;
    padding-bottom: 20px;
}
.commnet_form {
    overflow: hidden;
    margin-bottom: 40px;
    padding: 20px 0px;
}
.btn-small{
    padding: 5px 10px;
}
.navbar, .navbar.navbar-default {
    background-color: transparent;
    color: #ffffff;
}
div#app {
    position: absolute;
    width: 100%;
}
.panel {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 10px 0px;
    margin-top: 50px;
}
.panel > .panel-heading, .panel.panel-default > .panel-heading {
    background-color: transparent;
}
 h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
  
    line-height: 20px;
    font-weight: 700;
}
h1{
  line-height: 40px;  
}
div#app-navbar-collapse {
    background: transparent;
    z-index: 999;
    position: relative;
}
div#app-navbar-collapse::after{
    position: absolute;
    content: " ";
    height: 100%;
    width: 100%;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: -1;
    opacity: 0.7;
    background:#1d3a4c;
    display: block;
}
a, a:hover, a:focus {
    color: #fd7a60;
}
.btn.btn-primary, .btn.btn-primary:hover, .btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary.active, .btn.btn-primary:active:focus, .btn.btn-primary:active:hover, .btn.btn-primary.active:focus, .btn.btn-primary.active:hover, .open > .btn.btn-primary.dropdown-toggle, .open > .btn.btn-primary.dropdown-toggle:focus, .open > .btn.btn-primary.dropdown-toggle:hover, .navbar .navbar-nav > li > a.btn.btn-primary, .navbar .navbar-nav > li > a.btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary.active, .navbar .navbar-nav > li > a.btn.btn-primary:active:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active:hover, .navbar .navbar-nav > li > a.btn.btn-primary.active:focus, .navbar .navbar-nav > li > a.btn.btn-primary.active:hover, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:focus, .open > .navbar .navbar-nav > li > a.btn.btn-primary.dropdown-toggle:hover {
    background-color: #fd7a60;
    color: #FFFFFF;
}
.btn.btn-primary:focus, .btn.btn-primary:active, .btn.btn-primary:hover, .navbar .navbar-nav > li > a.btn.btn-primary:focus, .navbar .navbar-nav > li > a.btn.btn-primary:active, .navbar .navbar-nav > li > a.btn.btn-primary:hover {
    box-shadow: 0 14px 26px -12px rgba(253, 122, 96, 0.27), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(253, 122, 96, 0.13);
}
.navbar .dropdown-menu li > a:hover, .navbar .dropdown-menu li > a:focus, .navbar.navbar-default .dropdown-menu li > a:hover, .navbar.navbar-default .dropdown-menu li > a:focus {
    color: #FFFFFF;
    background-color: #fd7a60;
}
.form-group.is-focused .form-control {
    border: 0;
    background-image: linear-gradient(#fd7a60, #fd7a60), linear-gradient(#4CAF50, #4caf50);
}
.form-control{color:#fff;}
option {
    background: #1d3a4c;
}
.form-group.is-focused label,.form-group.is-focused label.control-label{
    color: #fd7a60;
}
.carousel .right {
    cursor: url(./images/arrow-right.png), url(../images/arrow-right.cur), default !important;
}
.carousel .left {
    cursor: url(./images/arrow-left.png), url(./images/arrow-left.cur), default !important;
}
.carousel-inner > .item > img, .carousel-inner > .item > a > img {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 1;
}
.item{
    max-height: 400px;
    min-height: 400px;
}
.carousel .carousel-caption{
    z-index: 999;
    padding:30px;
}
.carousel .carousel-caption h4{
    color: #fff;
    line-height: 20px;
}

.carousel .carousel-caption::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    z-index: -1;
    background:#1d3a4c;
    opacity: .7;
    top:0;
    bottom:0;
    right: 0;
    left: 0;
}
.footer_wrap {
    background: #1d3a4c;
}